table.sublist { border: 1px solid black; width: 100%;}
table.substinfo { border: 1px solid black; width: 100%;}
div.untishead {font-size: 80%; text-align:right;}
td.headerinfo {background-color: #FFFAA8;}
tr.eins { background-color: #fefefe; border-bottom: 1px dotted #cdcdcd;}
tr.zwei { background-color: #dfdfdf; border-bottom: 1px dotted #cdcdcd;}

td.absenz, td.entfall {
    padding-left: 15px;
    background: transparent url(img/green.gif) 1px 50% no-repeat;
}
td.betreuung, td.vertretung, td.betreuung {
    padding-left: 15px;
    background: transparent url(img/red.gif) 1px 50% no-repeat;
}
td.verlegung {
    padding-left: 15px;
    background: transparent url(img/orange.gif) 1px 50% no-repeat;
}

div.untismenu {
    margin-bottom: 1em;
}
div.untismenu a {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
}

span.green {
    background: transparent url("img/green.gif") left 50% no-repeat;
    padding-left: 12px;
}

span.red {
    background: transparent url("img/red.gif") left 50% no-repeat;
    padding-left: 12px;
}

span.orange {
    background: transparent url("img/orange.gif") left 50% no-repeat;
    padding-left: 12px;
}

span.blue {
    background: transparent url("img/blue.gif") left 50% no-repeat;
    padding-left: 12px;
}

span.aktuell {
    background: transparent url("img/aktuell.gif") left 50% no-repeat;
    width: 62px;
    height: 14px;
    display: block;
    float: right;
}



